.row {
  flex-direction: column;
}

.fix-inputs {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  align-items: center;
}

nb-progress-bar {
  flex: 1;
}
mat-slider {
  width: 300px;
}

.update-price {
  display: flex;
  justify-content: space-between;
}
