<nb-card [status]="stautsToggle ? 'success' : 'danger'">
  <nb-card-header
    ><span
      >Prix finale:
      <strong>
        {{
          finalPrice
            ? (finalPrice | currency : "TND" : "symbol" : "1.2-2")
            : (rowData.finalPrice | currency : "TND" : "symbol" : "1.2-2")
        }}
      </strong>
      <p *ngIf="finalPrice">
        <strong
          >Réduction:
          {{ discount | currency : "TND" : "symbol" : "1.2-2" }}</strong
        >
      </p>
    </span>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="managerForm" (ngSubmit)="submitManager()">
      <div class="row">
        <div class="col-lg-12 fix-inputs">
          <nb-toggle
            formControlName="statusFinal"
            (ngModelChange)="statusToggle($event)"
            [status]="stautsToggle ? 'success' : 'danger'"
          >
            {{ stautsToggle ? "Valider" : "Annuler" }}
          </nb-toggle>

          <div class="c">
            <span *ngIf="role === 'MANAGER'">
              <mat-slider
                formControlName="remise"
                min="0.0"
                max="5.0"
                step="0.1"
                showTickMarks="true"
                discrete
                [displayWith]="formatLabel"
                thumbLabel="true"
                (ngModelChange)="testSlider($event)"
              >
                <input matSliderThumb /> </mat-slider
            ></span>
            <span *ngIf="role === 'ADMIN_MANAGER'">
              <mat-slider
                formControlName="remise"
                min="10.0"
                max="15.0"
                step="0.1"
                showTickMarks="true"
                discrete
                [displayWith]="formatLabel"
                thumbLabel="true"
                (ngModelChange)="testSlider($event)"
              >
                <input matSliderThumb /> </mat-slider
            ></span>
            <span *ngIf="role === 'ADMIN_TECH'">
              <mat-slider
                formControlName="remise"
                min="5.0"
                max="10.0"
                step="0.1"
                showTickMarks="true"
                discrete
                [displayWith]="formatLabel"
                thumbLabel="true"
                (ngModelChange)="testSlider($event)"
              >
                <input matSliderThumb /> </mat-slider
            ></span>
            <span *ngIf="valueSlider === 5 && role === 'MANAGER'"
              ><button
                nbButton
                size="tiny"
                status="info"
                nbTooltip="Envoyer à Walid"
                nbTooltipPlacement="top"
                (click)="discountPyramid()"
              >
                <nb-icon
                  size="tiny"
                  icon="arrow-forward-outline"
                ></nb-icon></button
            ></span>
            <span *ngIf="valueSlider === 10 && role === 'ADMIN_TECH'"
              ><button
                nbButton
                size="tiny"
                status="warning"
                nbTooltip="Envoyer à Naim"
                nbTooltipPlacement="top"
                (click)="discountPyramid()"
              >
                <nb-icon
                  size="tiny"
                  icon="arrow-forward-outline"
                ></nb-icon></button
            ></span>
            <span *ngIf="valueSlider === 15 && role === 'ADMIN_MANAGER'"
              ><button
                nbButton
                size="tiny"
                status="danger"
                nbTooltip="Envoyer pour mise à jour le prix"
                nbTooltipPlacement="top"
                (click)="discountPyramid()"
              >
                <nb-icon
                  size="tiny"
                  icon="arrow-forward-outline"
                ></nb-icon></button
            ></span>
          </div>

          <input
            fullWidth
            nbInput
            placeholder=" Devis"
            formControlName="devis"
            type="file"
            (change)="onSelectFileDevise($event)"
          />
          <input
            fullWidth
            nbInput
            placeholder=" Bon de commande"
            formControlName="bc"
            type="file"
            (change)="onSelectFile($event)"
          />
          <input
            fullWidth
            nbInput
            placeholder=" Bon de livraison"
            formControlName="bl"
            type="file"
            (change)="onSelectFileBl($event)"
          />
          <input
            fullWidth
            nbInput
            placeholder=" Facture"
            formControlName="facture"
            type="file"
            (change)="onSelectFileFacture($event)"
          />
          <button nbButton status="info" type="submit">Terminer</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
