<nb-card>
  <nb-card-header>Ajouter un emplacement</nb-card-header>
  <nb-card-body>
    <form class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-list class="scrollable-list">
            <nb-list-item
              class="list-items"
              *ngFor="let location of listofLocation"
            >
              <span *ngIf="!isToEdit">
                <strong>{{ location.locationName }}</strong>
              </span>
              <span *ngIf="isToEdit">
                <input type="text" nbInput />
              </span>
              <span class="btn">
                <button
                  status="danger"
                  size="small"
                  nbButton
                  (click)="removelocation(location._id)"
                >
                  <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
              </span>
            </nb-list-item>
          </nb-list>
        </nb-card>
        <label class="label">Saisir nom emplacement</label>
        <input
          type="text"
          nbInput
          name="emplacementInput"
          [(ngModel)]="locationInput"
          fullWidth
        />
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer
    ><button nbButton status="success" (click)="addLocation()">
      Valider
    </button></nb-card-footer
  >
</nb-card>
