<p style="font-size: 24px; text-align: center; margin-top: 50px">
  Dashboard en cours de maintenance
</p>

<!-- <div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Statistique des clients</nb-card-header>
      <nb-card-body>
        <div echarts [options]="options" class="demo-chart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->
<!--
<div class="row">
  <nb-card class="col-lg-2 card-size custom-border-total">
    <h6>Total ticket</h6>
    <h6>{{ totalTicket }}</h6>
  </nb-card>
  <nb-card class="col-lg-2 card-size custom-border-pending"
    ><h6>En attente</h6>
    <h6>{{ enAttente ? enAttente : "-" }}</h6></nb-card
  >
  <nb-card accent="info" class="col-lg-2 card-size"
    ><h6>En cours</h6>
    <h6>{{ ticketEnCours ? ticketEnCours : "-" }}</h6></nb-card
  >
  <nb-card accent="success" class="col-lg-2 card-size"
    ><h6>Finie</h6>
    <h6>{{ ticketFinie ? ticketFinie : "-" }}</h6></nb-card
  >
  <nb-card accent="warning" class="col-lg-2 card-size"
    ><h6>Retour</h6>
    <h6>{{ ticketRetour ? ticketRetour : "-" }}</h6></nb-card
  >
  <nb-card accent="danger" class="col-lg-2 card-size"
    ><h6>Annuler</h6>
    <h6>{{ ticketAnnuler ? ticketAnnuler : "-" }}</h6></nb-card
  >
</div>
<nb-card class="row">
  <table class="col-lg-12 equal-width-table">
    <thead>
      <tr class="header-tech">
        <th>Techniciens</th>
        <th nbTooltip="Temps total diagnostique">Total diagnostique</th>
        <th nbTooltip="Temps total Réparation">Total réparation</th>
        <th nbTooltip="Temps moyen diagnostique">Moyen diagnostique</th>
        <th nbTooltip="Temps moyen Réparation">Moyen reparation</th>
        <th nbTooltip="Prix de heure">Prix diag</th>
        <th nbTooltip="Prix de heure">Prix rep</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tech of techs" class="list-tech">
        <td class="scrollable-cell">{{ tech.techName }}</td>
        <td nbTooltip="Temps total diagnostique">{{ tech.totalDiag }}</td>
        <td nbTooltip="Temps total Réparation">{{ tech.totalRep }}</td>
        <td nbTooltip="Temps moyen diagnostique">{{ tech.moyDiag }}</td>
        <td nbTooltip="Temps moyen Réparation">{{ tech.moyRep }}</td>
        <td nbTooltip="Prix de heure">
          {{ tech.techCostDiag | currency : "TND" : "symbol" : "1.2-2" }}
        </td>
        <td nbTooltip="Prix de heure">
          {{ tech.techCostRep | currency : "TND" : "symbol" : "1.2-2" }}
        </td>
      </tr>
    </tbody>
  </table>
</nb-card>

<div class="row">
  <nb-card class="col-lg-12">
    <nb-card-header>Client par region</nb-card-header>
    <nb-card-body>
      <div echarts [options]="option" class="echart"></div>
    </nb-card-body>
  </nb-card>
</div>

<div class="row">
  <nb-card class="col-lg-8">
    <nb-card-header>Statistique des clients</nb-card-header>
    <nb-card-body>
      <div echarts [options]="options" class="demo-chart"></div>
    </nb-card-body>
  </nb-card>

  <nb-card [formGroup]="gainFrom" class="col-lg-4">
    <nb-card-header>
      <div class="fix-header-flip">
        <input
          nbInput
          placeholder="Pick Date Range"
          [nbDatepicker]="formpicker"
          fullWidth
          formControlName="filterGain"
          (change)="filterGainByDate()"
        />
        <nb-rangepicker #formpicker></nb-rangepicker>
      </div>
    </nb-card-header>

    <section>
      <div class="subtitle">Gain total</div>
      <div class="h3">
        {{ final_price | currency : "TND" : "symbol" : "1.2-2" }}
      </div>
     
      <div class="caption description">Gain des demandes d'intervention</div>
    </section>

    <section>
      <div class="subtitle">Retour</div>
      <div class="h3">
        {{ totalPriceReturn | currency : "TND" : "symbol" : "1.2-2" }}
      </div>

      <div class="caption description">Retour des demandes d'intervention</div>
    </section>

    <section>
      <div class="subtitle">Total composants</div>
      <div class="h3">
        {{ totalcomposants | currency : "TND" : "symbol" : "1.2-2" }}
      </div>

   
      <div class="caption description">Les demandes d'intervention annulés</div>
    </section>
  </nb-card>
</div>

<div class="row">
  <nb-card class="col-lg-6">
    <nb-card-header>Panne</nb-card-header>
    <nb-card-body
      ><div echarts [options]="issueChart" class="demo-chart"></div
    ></nb-card-body>
  </nb-card>
  <nb-card class="col-lg-6">
    <nb-card-header>Nombre de client par mois</nb-card-header>
    <nb-card-body
      ><div echarts [options]="optClient" class="demo-chart"></div
    ></nb-card-body>
  </nb-card>
</div>
-->
