<nb-card class="fix">
  <nb-card-header
    ><div>
      <div>
        <span class="label-ticket">Titre: </span
        ><span>Affectation des prix par les admins</span>
      </div>
    </div></nb-card-header
  >
  <nb-card-body>
    <div class="row header-cus">
      <div class="col-lg-6">
        <div>
          <span class="label-ticket">Téchnicien: </span>{{ rowData.assignedTo }}
        </div>
        <div>
          <span class="label-ticket">Temps de diagnostique: </span
          >{{ rowData.diagnosticTimeByTech }}
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <span class="label-ticket">Remarque du téchnicien: </span
          >{{ rowData.remarqueTech }}
        </div>
        <div>
          <span class="label-ticket">Remarque de l'administration: </span
          >{{ rowData.designiation }}
        </div>
        <div>
          <span class="label-ticket">Client: </span>
        </div>
      </div>
    </div>

    <div class="row">
      <nb-card
        accent="info"
        class="col-lg-4 crd"
        *ngFor="let item of rowData.composants"
      >
        <nb-card-header class="header">
          <div>composant:</div>
        </nb-card-header>
        <nb-card-body>
          <div>package :{{ item.package }}</div>
          <div>nameComposant :{{ item.nameComposant }}</div>
          <div>Prix de vente :{{ item.sellPrice }}</div>
          <div>quantity :{{ item.quantity }}</div>
          <div>statusComposant :{{ item.statusComposant }}</div>
          <div>comingDate :{{ item.comingDate }}</div>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-card-body>

  <nb-card-footer
    ><form [formGroup]="AdminTechForm" (ngSubmit)="submitTicket()">
      <div class="col-lg-12 final-price">
        <p>Prix total des composants:</p>
        <p>
          {{
            calculateTotalPrixTotale() | currency : "TND" : "symbol" : "1.2-2"
          }}
        </p>
      </div>

      <div class="col-lg-12">
        <input
          nbInput
          formControlName="finalPrice"
          placeholder="Affecter prix"
        />
        <button nbButton status="success" type="submit">Confirmer</button>
      </div>
    </form></nb-card-footer
  >
</nb-card>
