<div #printPDF>
  <nb-card status="success">
    <nb-card-header>Information essentiel</nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Identifiant ticket</th>
              <th>Designation</th>
              <th>Remarque Admnistration</th>
              <th>emplacement</th>
              <th>N° Serie</th>
              <th>{{ ticket?.typeClient }}</th>
              <th>Créé le</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>{{ ticket?._id }}</td>
              <td>{{ ticket?.title }}</td>
              <td>{{ ticket?.designiation }}</td>
              <td>{{ ticket?.emplacement }}</td>
              <td>{{ ticket?.numero }}</td>
              <td>
                {{
                  ticket?.typeClient == "Société"
                    ? ticket?.affectedToCompany
                    : ticket?.affectedToClient
                }}
              </td>
              <td>{{ ticket?.createdAt | date : "dd/MM/yyyy HH:mm" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card status="danger">
    <nb-card-header>Information Technique</nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Technicien en charge Diagnostique</th>
              <th>Technicien en charge Reparation</th>
              <th>Temps Diagnostique</th>
              <th>Temps Reparation</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>{{ ticket?.assignedTo }}</td>
              <td>{{ ticket?.assignedToRep }}</td>
              <td>{{ ticket?.diagnosticTimeByTech }}</td>
              <td>{{ ticket?.reparationTimeByTech }}</td>
            </tr>
          </tbody>
        </table>
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Remarque Technicien</th>
              <th>Type de probleme</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>{{ ticket?.remarqueTech }}</td>
              <td>{{ ticket?.issue }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card status="info">
    <nb-card-header>Information Supplementaire</nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Prix initial</th>
              <th>Prix aprés remise</th>
              <th>Pourcentage Remise</th>
              <th>Dernier modification</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>{{ ticket?.price }}</td>
              <td>{{ ticket?.finalPrice }}</td>
              <td>
                {{
                  ticket?.finalPrice !== null &&
                  ticket?.price !== null &&
                  ticket?.price !== 0
                    ? ((1 - ticket?.finalPrice / ticket?.price) * 100).toFixed(
                        2
                      ) + "%"
                    : ""
                }}
              </td>
              <td>{{ ticket?.updatedAt | date : "dd/MM/yyyy HH:mm" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card status="primary">
    <nb-card-header>Listes des composants</nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Packagee du composant</th>
              <th>Nom composant</th>
              <th>Quantites</th>
              <th>Prix d'achat</th>
              <th>Prix de vente</th>
              <th>Status composant</th>
              <th>Date d'arrivage</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech" *ngFor="let composant of ticket?.composants">
              <td>{{ composant.package }}</td>
              <td>{{ composant.nameComposant }}</td>
              <td>{{ composant.quantity }}</td>
              <td>{{ composant.purchasePrice }}</td>
              <td>{{ composant.sellPrice }}</td>
              <td>{{ composant.statusComposant }}</td>
              <td>
                {{ composant.comingDate ? composant.comingDate : "En stock" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card status="basic">
    <nb-card-header>Listes des fichiers</nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Bon de commande</th>
              <th>Bon de livraison</th>
              <th>Facture</th>
              <th>Devis</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>
                <a
                  *ngIf="urlHost && ticket?.bc"
                  [href]="urlHost + ticket?.bc"
                  target="_blank"
                >
                  <strong>Lien</strong>
                  <!-- Your link content here -->
                </a>
              </td>
              <td>
                <a [href]="urlHost + ticket?.bl" target="_blank">
                  <strong> Lien</strong>
                </a>
              </td>
              <td>
                <a [href]="urlHost + ticket?.facture" target="_blank">
                  <strong> Lien</strong>
                </a>
              </td>
              <td>
                <a [href]="urlHost + ticket?.Devis" target="_blank">
                  <strong> Lien</strong>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</div>
