<!-- <div class="modal-container" #content>
  <nb-card class="custom-card">
    <nb-card-header>Titre:Hello</nb-card-header>

    <nb-card-body>
      <nb-card status="success">
        <nb-card-header>Les Remarques</nb-card-header>

        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Admin</th>
              <th>Tech</th>
              <th>Remarque Admin</th>
              <th>Remarque Tech</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>Admin Value</td>
              <td>Tech Value</td>
              <td>Remarque Admin Value</td>
              <td>Remarque Tech Value</td>
            </tr>
          </tbody>
        </table>
      </nb-card>

      <nb-card status="success">
        <nb-card-header>Documents</nb-card-header>
        <nb-card-body>
          <div>
            <p>
              <a [href]="'http://192.168.43.174:3000/' + allData.bc"
                >Bon de commande</a
              >
            </p>
          </div>
          <div>
            <p>
              <a [href]="'http://192.168.43.174:3000/' + allData.bl"
                >Bon de livraison</a
              >
            </p>
          </div>
          <div>
            <p>
              <a [href]="'http://192.168.43.174:3000/' + allData.facture"
                >Facture</a
              >
            </p>
          </div>
          <div>
            <p>
              <a [href]="'http://192.168.43.174:3000/' + allData.Devis"
                >Devis</a
              >
            </p>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card status="success">
        <nb-card-header>Temps consomé</nb-card-header>
        <nb-card-body>
          <div>Temps de Diagnostique {{ allData.diagnosticTimeByTech }}</div>
          <div>Temps de Reperation {{ allData.reparationTimeByTech }}</div>
        </nb-card-body>
        <nb-card-footer>
          Temps Totale:
          {{ 5 }}
        </nb-card-footer>
      </nb-card>

      <div>
        <nb-card status="success">
          <nb-card-header>Liste des composants</nb-card-header>
          <nb-card-body *ngFor="let c of allData.composants">
            <p>Nom composant:{{ c.nameComposant }}</p>
            <p>
              Prix:
              {{ c.sellPrice | currency : "TND" : "symbol" : "1.2-2" }}
            </p>
            <p>Quantité: {{ c.quantity }}</p>
            <p>Prix totale composant: {{ c.sellPrice * c.quantity }}</p>
            <p>Date d'arrivage: {{ c.comingDate }}</p>
          </nb-card-body>
          <nb-card-footer>
            <p>
              Prix des composants:
              {{ totalPrix | currency : "TND" : "symbol" : "1.2-2" }}
            </p>
            <p>
              Prix Total
              {{ allData.finalPrice | currency : "TND" : "symbol" : "1.2-2" }}
            </p>
          </nb-card-footer>
        </nb-card>
      </div>
    </nb-card-body>
    <nb-card-footer class="footer-Style">
      <p>Status:{{ allData.finalStatusTicket }}</p>
      <p>Emplacement:{{ allData.emplacement }}</p>
      <p>Date de creation:{{ allData.createdAt | date : "dd/MM/yyyy" }}</p>
      <button nbButton status="danger" (click)="print()">PRINT</button>
    </nb-card-footer>
  </nb-card>
</div> -->

<div #printPDF>
  <nb-card status="success">
    <nb-card-header>Information essentiel</nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Identifiant ticket</th>
              <th>Designation</th>
              <th>Type de probleme</th>
              <th>emplacement</th>
              <th>{{ ticket.typeClient }}</th>
              <th>Créé le</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>{{ ticket?._id }}</td>
              <td>{{ ticket?.title }}</td>
              <td>{{ ticket?.issue }}</td>
              <td>{{ ticket?.emplacement }}</td>
              <td>
                {{ ticket?.affectedToCompany || ticket?.affectedToClient }}
              </td>
              <td>{{ ticket?.createdAt | date : "dd/MM/yyyy HH:mm" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card status="danger">
    <nb-card-header>Information Technique</nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Technicien en charge Diagnostique</th>
              <th>Technicien en charge Reparation</th>
              <th>Temps Diagnostique</th>
              <th>Temps Reparation</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>{{ ticket?.assignedTo }}</td>
              <td>{{ ticket?.assignedToRep }}</td>
              <td>{{ ticket?.diagnosticTimeByTech }}</td>
              <td>{{ ticket?.assignedToRep }}</td>
            </tr>
          </tbody>
        </table>
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Remarque Technicien</th>
              <th>Remarque Admnistration</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>{{ ticket?.remarqueTech }}</td>
              <td>{{ ticket?.designiation }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card status="info">
    <nb-card-header>Information Supplementaire</nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Prix initial</th>
              <th>Prix aprés remise</th>
              <th>Dernier modification</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>{{ ticket?.price }}</td>
              <td>{{ ticket?.finalPrice }}</td>
              <td>{{ ticket?.updatedAt | date : "dd/MM/yyyy HH:mm" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card status="primary">
    <nb-card-header>Listes des composants</nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="col-lg-12 equal-width-table">
          <thead>
            <tr class="header-tech">
              <th>Packages des composants</th>
              <th>Listes Noms des composants</th>
              <th>Quantites pour chaque composants</th>
              <th>Prix d'achats des composants</th>
              <th>Prix de ventes des composants</th>
              <th>Status des composants</th>
              <th>Date d'arrivage</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-tech">
              <td>{{ ticket?.composants.package }}</td>
              <td>{{ ticket?.composants.nameComposant }}</td>
              <td>{{ ticket?.composants.quantity }}</td>
              <td>{{ ticket?.composants.purchasePrice }}</td>
              <td>{{ ticket?.composants.sellPrice }}</td>
              <td>{{ ticket?.composants.statusComposant }}</td>
              <td>{{ ticket?.composants.comingDate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</div>
