.justify-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
nb-card-header {
  display: flex;
  justify-content: space-between;
}

.justify-btn button {
  width: 13%;
}
// .toggle-CS{

// }
